.clock {
    display: inline-block;
    width: 100%;
    color: #fff;
}
    .clock > .time {
        display: inline-block;
        float: left;
        width: 25%;
        margin: 15px 0;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 60px;
            line-height: 60px;
        }
        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }