.bg-blue {
    background-color: #03A9F3;
}

#hero {
    padding-bottom: 20px;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
    .hero-content {
        text-align: center;
    }
        .hero-content > .logo {
            width: 36px;
            margin-bottom: 40px;
        }
        .hero-content > h1 {
            margin-bottom: 20px;
            font-size: 48px;
            line-height: 50px;
            text-transform: uppercase;
        }
        .hero-content > p {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 25px;
            color: #555;
        }
        .hero-content > .clock {
            margin-bottom: 60px;
        }
        .hero-content > .clock {
            margin-bottom: 60px;
        }
        .hero-content > .form {
            margin-bottom: 20px;
        }

#main_content {

}
    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }
    #main_content p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #555;
    }

#footer {
    padding-top: 20px;
}