.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
    .container > .hero-content {
        display: inline-block;
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
    .container > .content {
        display: inline-block;
        width: 1000px;
        margin: 0 calc(50% - 500px);
    }

@media ( max-width: 1100px ) {
    .container > .content {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}

@media ( max-width: 900px ) {
    .container > .content {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media ( max-width: 700px ) {
    .container {
        padding: 60px 20px;
    }
        .container > .hero-content {
            width: 100%;
            margin: 0;
        }
        .container > .content {
            width: 100%;
            margin: 0;
        }
}